<section class="contact section" id="contact">
    <h2 class="section-title"> Contact Me</h2>
    <span class="section-subtitle">
        Get in touch
    </span>
    <div class="contact_container container grid">
        <div>
            <div class="contact_info">
                <i class="fas fa-phone-alt  contact_icon"></i>
                <div>
                    <h3 class="contact_title">Call Me</h3>
                    <span class="contact_subtitle">777755248</span>
                </div>
            </div>
            <div class="contact_info">
                <i class="far fa-envelope contact_icon"></i>
                <div>
                    <h3 class="contact_title">Email</h3>
                    <span class="contact_subtitle">afnanalkadasi22@gamil.com</span>
                </div>
            </div>
            <div class="contact_info">
                <i class="fas fa-map-marker-alt contact_icon"></i>
                <div>
                    <h3 class="contact_title">Location</h3>
                    <span class="contact_subtitle">Taiz-Alhabeel Street</span>
                </div>
            </div>
        </div>
        <form action="#" class="contact_form grid" id="myForm">
            <div class="contact_input grid">
                <div class="contact_contect">
                    <label for="" class="contact_label">Name</label>
                    <input type="text" class="contact_input contact_inputs"
                     placeholder="Enter Your Full Name" id="usrname">
                </div>
                <span id="error" style="font-size: 10px; color:red;"></span>
                <div class="contact_contect">
                    <label for="" class="contact_label">Email</label>
                    <input type="email" class="contact_input contact_inputs" id="email" placeholder="Enter Your Email">
                </div>
                <span id="error2" style="font-size: 10px ; color:red;"></span>
                <div class="contact_contect">
                    <label for="" class="contact_label">Message</label>
                    <textarea name="" id="txt1" cols="0" rows="4" class="contact_input contact_inputs" placeholder="Enter Your Message "></textarea>
                </div>
                <span id="error3" style="font-size: 10px; color:red;"></span>
                <div>
                    <a  class="button button-flex" id="submit" type="submit"> 
                        Send Message
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>