<div class="row mx-1 bg-white my-3 col-12 d-flex justify-content-lg-between shadow">
    <nav aria-label="breadcrumb" class="main-breadcrumb col-6 p-3">
      <ol class="breadcrumb ms-3" >
        <li class="breadcrumb-item fs-6 fw-bold"><a href="/index">Home</a></li>
        <li class="breadcrumb-item active fs-6 fw-bold" aria-current="page"> Profile</li>
      </ol>
      
    </nav>
    <div class="nav-item dropdown col-6  p-2 d-flex justify-content-end">
        <a class="nav-link dropdown-toggle fs-6 fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Afnan Alkadasi 
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item fs-6 fw-bold" href="/index">LogOut</a></li>
        </ul>
      </div>
   
</div>