<div class="col-lg-4 col-md-4 col-12 mb-3">
    <div class="card shadow p-3 pt-0 bg-opacity-0">
        <!-- user avatar -->
     
        <div class="col-12 d-flex justify-content-center align-items-center p-4 position-relative">
        <img src="img/im2.png"
            class="user-avatar img-fluid rounded-circle"
            alt="user avatar" style="width: 70%;"/>  
        <a role="button" data-bs-toggle="modal"data-bs-target="#avatar-edit-model"
                class="position-absolute bg-white border border-primary rounded d-flex justify-content-center align-items-lg-center rounded-circle" 
                style="bottom: 10%;left: 35%; width: 30px;height: 30px;">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square " viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </a>
        </div>

        <!-- name -->
        <div class="text-center">
        <a class="text-prof fs-5 fw-bold" href="">Afnan Alkadasi</a>
        <p>Software Engineering</p>
        <a download="" href="" class="button button-flex" style="font-size:15px;"> 
            Download CV <i class="fa-solid fa-down"></i>
        </a>
        </div>

        <!-- dashboard nav -->
        <nav class="card px-3 py-4 mt-3 d-flex gap-3">
        <!-- info -->
        <a
            href="/dashboard" id="personal"
            class="text-prof d-flex align-items-center d-inline-block ms-3 border-bottom pb-2"
        >
            <i class="fa fa-user pe-2"></i>
            <span class="fs-6 fw-bold">Personal Info</span>
        </a>

        <!-- skills -->
        <a
            href="/dash-Skill" id=""
            class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2"
        >
            <i class="fa fa-shekel-sign pe-2"></i>
            <span class="fs-6 fw-bold">Skills</span>
        </a>

        <!-- experience -->
        <a
            href="/dash-Exper" id=""
            class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2"
        >
            <i class="fa fa-object-group pe-2"></i>
            <span class="fs-6 fw-bold">Experience</span>
        </a>

        <!-- Works -->
        <a
            href="#" id="Works"
            class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2"
        >
            <i class="fa fa-book pe-2"></i>
            <span class="fs-6 fw-bold">Works</span>
        </a>
           <!-- Services -->
           <a
           href="/dash-Service" id="Services"
           class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2"
       >
           <i class="fa fa-book pe-2"></i>
           <span class="fs-6 fw-bold">Services</span>
       </a>
       <a
       href="/dash-contact" id=""
       class="text-secondary d-flex align-items-center d-inline-block ms-3 border-bottom pb-2"
   >
       <i class="fa fa-book pe-2"></i>
       <span class="fs-6 fw-bold">Contact</span>
   </a>
        </nav>
    </div>
    </div>