<section class="experienc section" id="experienc">
    <h2 class="section-title"> Experience </h2>
    <div class="exper">
      
                  <div class="menu">
                      <div class="course">
                        <div class="item">
                          <h4>Facebook</h4>
                          <p>2008 - 2012</p>
                          <p>Platform, Desktop.</p>
                          <p>PHP, Objective-C.</p>
                        </div>
                        <div class="item">
                          <h4>Google</h4>
                          <p>2019 - Today</p>
                          <p>Core Maps, Perfgate.</p>
                          <p>Javascript, C++, Python, Go.</p>
                        </div>
                      </div>
                   </div>
      </div>
    </section>