<footer class="footer">
        <div class="footer_bg">
            <div class="footer_container container grid">
                <div>
                    <h1 class="footer_title">
                        Afnan
                    </h1>
                    <span class="footer_subtitle">
                        I'm Engnieer
                    </span>
                </div>
               
                <ul class="footer_links">
                    <li>
                        <a href="#home" class="footer_link">Home</a>
                    </li>
                    <li>
                        <a href="#about" class="footer_link">About Me</a>
                    </li>
                    <li>
                        <a href="#service" class="footer_link">Works</a>
                    </li>
                    <li>
                        <a href="#service" class="footer_link">Service</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer_link">Contact</a>
                    </li>
                </ul>

                <div class="footer_socials">
                    <a href="#" class="footer_social" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="footer_social" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="footer_social" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="footer_social" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>