<header class="header" id="header">
        <nav class="nav container nav_back">
               
           <a onclick="document.getElementById('id01').style.display='block'" style="width:auto; cursor: pointer;" class="nav_log"> <strong><i>A</i>F</strong><i>N</i>A<i>N</i></a>
            
            <div class="nav_menu" id="nav_menu">
                <ul class="nav_list grid">
                    <li class="nav_item"><a href="/index" class="nav_link active">Home</a></li>
                    <li class="nav_item"><a href="#about" class="nav_link active">Skills</a></li>
                    <li class="nav_item"><a href="#experienc" class="nav_link active">Experience</a></li>
                    <li class="nav_item"><a href="#works" class="nav_link active">Works</a></li>
                    <li class="nav_item"><a href="#service" class="nav_link active">Services</a></li>
                    <li class="nav_item"><a href="#contact" class="nav_link active">Contact</a></li>
                </ul>
         
                <i class="fas fa-times nav_close" id="nav_close"></i>
            </div>
            <div class="nav_btns">
                 
                <i class="fas fa-moon change-theme" id="theme-button"></i>
                <div class="nav_toggle" id="nav_toggle">
                <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>