<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
     pro
    </title>
    <meta name="author" content="afnan alkadasi">
    <meta name="keywords" content="html,portfolio,css">
    <meta name="description" content="this is portfolio page for engnieer afnan">
    <script src="https://kit.fontawesome.com/53e9ef6681.js" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Fira+Sans:wght@400;500;700&family=Satisfy&family=Sriracha&family=Kaushan+Script&display=swap" />
    <link rel='stylesheet' type='text/css' media='all' href='/css/style.css'>
</head>