<section class="service section" id="service">
    <h2 class="section-title">
        Services
    </h2>
    <span class="section-subtitle">What's the service i can do it</span>
    <div class="service_container container">
       
        <div class="service_sections">
            <div class="service_content" >
                <!-- service_data1 -->
                <div class="service_data">
                    <div>
                        <h3 class="service_title">
                            Web Design
                        </h3>
                        <span class="service_subtitle">
                            I design Homepages,Magazine websites,Medical,
                            E-commerce websites and any websites you want it.
                        </span>
                    </div>
                    <div class="service_warrper">
                        <span class="service_rounder"></span>
                        <span class="service_line"></span>
                    </div>
                </div>
                <!-- service_data2 -->
                <div class="service_data">
                    <div></div>
                    <div class="service_warrper">
                        <span class="service_rounder"></span>
                        <span class="service_line"></span>
                    </div>
                    <div>
                        <h3 class="service_title">
                            Web Development
                        </h3>
                        <span class="service_subtitle">
                            I develop and modify websites on demand.
                        </span>
                    </div>

                </div>
                <!-- service_data3 -->
                <div class="service_data">
                    <div>
                        <h3 class="service_title">
                            Photography
                        </h3>
                        <span class="service_subtitle">
                            I take pictures and prepare.
                        </span>
                    </div>
                    <div class="service_warrper">
                        <span class="service_rounder"></span>
                        <span class="service_line"></span>
                    </div>
                </div>
                <!-- service_data4 -->
                <div class="service_data">
                    <div></div>
                    <div>
                        <span class="service_rounder"></span>

                    </div>
                    <div>
                        <h3 class="service_title">
                            Graphicial Design
                        </h3>
                        <span class="service_subtitle">
                            I design business cards, wedding invitations,
                            certificates, prototypes for Android applications
                            and anything else you want

                        </span>
                    </div>
                    <div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>