<section class="about  section" id="about">
    <h2 class="section-title"> Skills </h2>
    <span class="section-subtitle">
        My Technical level
    </span>
    <div class="skills_container container grid">
        <div>
               <!-- skill 1 -->
        <div class="skills_content skills_open">
            <div class="skills_header">
                 
                    <i class="fas fa-code skills_icon"></i>
                <div>
                    <h1 class="skills_title">
                        Web Developer
                    </h1>
                    <span class="skills_subtitle">
                        Read More
                    </span>
                </div>
                <i class="fas fa-arrow-down skills_arrow"></i>
              
            </div>
            <div class="skills_list grid">
                <div class="skills_data">
                    <div class="skills_titles">
                        <h3 class="skills_name">HTML</h3>
                        <span class="skills_number">94%</span>
                    </div>
                    <div class="skills_bar">
                        <span class="skills_percentage skills_html"></span>
                    </div>
                </div>
                <div class="skills_data">
                    <div class="skills_titles">
                        <h3 class="skills_name">CSS</h3>
                        <span class="skills_number">80%</span>
                    </div>
                    <div class="skills_bar">
                        <span class="skills_percentage skills_css"></span>
                    </div>
                </div>
                <div class="skills_data">
                    <div class="skills_titles">
                        <h3 class="skills_name">JavaScript</h3>
                        <span class="skills_number">75%</span>
                    </div>
                    <div class="skills_bar">
                        <span class="skills_percentage skills_js"></span>
                    </div>
                </div>
                <div class="skills_data">
                    <div class="skills_titles">
                        <h3 class="skills_name">PHP</h3>
                        <span class="skills_number">75%</span>
                    </div>
                    <div class="skills_bar">
                        <span class="skills_percentage skills_php"></span>
                    </div>
                </div>
            </div>
        </div>
        </div>
                     <!-- skill 2 -->
                     <div class="skills_content skills_close">
                        <div class="skills_header">
                           <i class="fas fa-pen-fancy skills_icon"></i>
                            <div>
                                <h1 class="skills_title">
                                    Designer
                                </h1>
                                <span class="skills_subtitle">
                                    Read More
                                </span>
                            </div>
                            
                            <i class="fas fa-arrow-down skills_arrow"></i>
                        </div>
                        <div class="skills_list grid">
                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Photoshop</h3>
                                    <span class="skills_number">95%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_Photoshop"></span>
                                </div>
                            </div>
                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Adobe XD</h3>
                                    <span class="skills_number">80%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_Adobe_XD"></span>
                                </div>
                            </div>
                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">Illustrator</h3>
                                    <span class="skills_number">75%</span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage skills_Illustrator"></span>
                                </div>
                            </div>
                        </div>
                    </div>
    
    </div>
</section>