<section class="wrapper container" id="works">
    <h2 class="section-title"> My Works</h2>
     <!-- filter Items -->
<nav>
    <div class="items">
      <span class="item active" data-name="all">All</span>
      <span class="item" data-name="web">Web</span>
      <span class="item" data-name="photo">Photo</span>
      <span class="item" data-name="design">Design</span>
    </div>
  </nav>
<!-- filter Images -->
<div class="gallery">
    <div class="image size_h" data-name="web"><span><img src="img/web (1).png"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
    <div class="image size_h" data-name="web"><span><img src="img/web (2).png"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
    <div class="image size_h" data-name="web"><span><img src="img/web (3).png"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
    <div class="image size_h" data-name="web"><span><img src="img/web (4).png"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
    <div class="image size_h" data-name="design"><span><img src="img/design.png"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
    <div class="image size_h" data-name="photo"><span><img src="img/photo (1).jpg"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
    <div class="image size_h" data-name="photo"><span><img src="img/photo (2).jpg"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
    <div class="image size_h" data-name="photo"><span><img src="img/photo (3).jpg"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
    <div class="image size_h" data-name="photo"><span><img src="img/photo (4).jpg"  onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt=""></span></div>
  </div>
</section>